<section class="examples">
  <div class="section-inner">
    <h2>Can't think of a site? Try one of these</h2>
    <ul class="example-list">
      <li>
        My friend's food blog —
        <a href="/proxy/https://sarahversuscarbs.wordpress.com/">sarahversuscarbs.com</a>
        (<a href="https://sarahversuscarbs.wordpress.com/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        <a href="/proxy/https://en.wikipedia.org/wiki/Special:Random">A random Wikipedia article</a>
      </li>
      <li>
        Reddit -
        <a href="/proxy/https://reddit.com/">reddit.com</a>
        (<a href="https://reddit.com/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        A popular webcomic —
        <a href="/proxy/https://xkcd.com/">xkcd.com</a>
        (<a href="https://xkcd.com/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        A local dietitian —
        <a href="/proxy/https://lindacumines.com.au/">lindacumines.com.au</a>
        (<a href="https://lindacumines.com.au/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        A business ideas blog —
        <a href="/proxy/https://woocommerce.com/blog/business-ideas/">woocommerce.com</a>
        (<a href="https://woocommerce.com/blog/business-ideas/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        An Australian political party —
        <a href="/proxy/https://greens.org.au/">greens.org.au</a>
        (<a href="https://greens.org.au/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
      <li>
        A browser-based FPS game —
        <a href="/proxy/https://keithclark.co.uk/labs/css-fps/nojs/">keithclark.co.uk</a>
        (<a href="https://www.keithclark.co.uk/labs/css-fps/nojs/" target="_blank" rel="noopener noreferrer">normal</a>)
      </li>
    </ul>
  </div>
</section>
