<footer class="site-footer">
  <div class="section-inner site-footer__inner">
    <p>
      Simple <a href="https://github.com/david-ma/Thalia">Thalia</a> site
    </p>
    <p>
      By <a href="https://twitter.com/frostickle">@Frostickle</a>
    </p>
  </div>
</footer>
