<html>

<head>
  <title>Visitors</title>
  <style>
    html {
      background: black;
      color: lightgray;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f243;
    }

    tr:nth-child(odd) {
      background-color: #f2f2f243;
    }
  </style>
</head>

<body>
{{> content }}
</body>

</html>